@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 190 35% 99%;
      --foreground: 190 63% 2%;
      --muted: 190 33% 86%;
      --muted-foreground: 190 5% 38%;
      --popover: 190 35% 99%;
      --popover-foreground: 190 63% 2%;
      --card: 190 35% 99%;
      --card-foreground: 190 63% 2%;
      --border: 190 7% 89%;
      --input: 190 7% 89%;
      --primary: 190 55% 76%;
      --primary-foreground: 190 55% 16%;
      --secondary: 190 20% 91%;
      --secondary-foreground: 190 20% 31%;
      --accent: 190 20% 91%;
      --accent-foreground: 190 20% 31%;
      --destructive: 21 95% 24%;
      --destructive-foreground: 21 95% 84%;
      --ring: 190 55% 76%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 190 58% 4%;
      --foreground: 190 21% 100%;
      --muted: 190 33% 14%;
      --muted-foreground: 190 5% 62%;
      --popover: 190 58% 4%;
      --popover-foreground: 190 21% 100%;
      --card: 190 58% 4%;
      --card-foreground: 190 21% 100%;
      --border: 190 7% 13%;
      --input: 190 7% 13%;
      --primary: 190 55% 76%;
      --primary-foreground: 190 55% 16%;
      --secondary: 190 3% 13%;
      --secondary-foreground: 190 3% 73%;
      --accent: 190 3% 13%;
      --accent-foreground: 190 3% 73%;
      --destructive: 21 95% 58%;
      --destructive-foreground: 0 0% 0%;
      --ring: 190 55% 76%;
    }
  }
  

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
